n8n/workflows/ai-assistant.json
{
  "name": "AI Trading Assistant (Production)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-assistant",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-ai",
      "name": "Telegram AI Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "ai-assistant"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL || 'https://api.deftluke.online' }}/api/ai/context",
        "options": { "timeout": 15000 }
      },
      "id": "fetch-context",
      "name": "Get Trading Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AI_GATEWAY_URL || 'https://ai.deftluke.online' }}/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Key", "value": "={{ $env.AI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"question\": {{ JSON.stringify($('Telegram AI Webhook').item.json.body.question || $('Telegram AI Webhook').item.json.body.text || 'Summarize my trading performance') }},\n  \"context\": {{ JSON.stringify($('Get Trading Context').item.json) }}\n}",
        "options": { "timeout": 120000 }
      },
      "id": "ai-gateway",
      "name": "AI Agent Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ answer: $json.answer, model: $json.model, source: 'n8n-ai-agent' }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Telegram AI Webhook": {
      "main": [[{ "node": "Get Trading Context", "type": "main", "index": 0 }]]
    },
    "Get Trading Context": {
      "main": [[{ "node": "AI Agent Gateway", "type": "main", "index": 0 }]]
    },
    "AI Agent Gateway": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "crypto-trading" }, { "name": "production" }]
}
