n8n/workflows/platform-ai-chat.json
{
  "name": "Research Platform AI Chat (Phase 9)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "platform-ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-ai",
      "name": "AI Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "platform-ai"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.RESEARCH_API_URL || 'http://research-api:8100') + '/agent/chat' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.body.message || $json.body.question || $json.body.text, channel: $json.body.channel || 'n8n', user_id: $json.body.user_id || 'n8n' }) }}",
        "options": { "timeout": 120000 }
      },
      "id": "research-chat",
      "name": "Research Platform Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ answer: $json.answer, intent: $json.intent, conversation_id: $json.conversation_id, source: 'phase9-n8n' }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "AI Chat Webhook": {
      "main": [[{ "node": "Research Platform Chat", "type": "main", "index": 0 }]]
    },
    "Research Platform Chat": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "crypto-trading" }, { "name": "phase9" }]
}
