n8n/workflows/trade-execution.json
{
  "name": "Trade Execution Guard (Production)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trade-execute",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "trade-execute"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL || 'https://api.deftluke.online' }}/api/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body || $json) }}",
        "options": { "timeout": 30000 }
      },
      "id": "execute-trade",
      "name": "Execute Trade (Backend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "Trade Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✅ Trade Executed\n\nSymbol: {{ $('Webhook Trigger').item.json.body.symbol }}\nDirection: {{ $('Webhook Trigger').item.json.body.direction }}\nEntry: {{ $('Webhook Trigger').item.json.body.entry_price }}\nSL: {{ $('Webhook Trigger').item.json.body.stop_loss }}\n\nSL/TP managed automatically.",
        "additionalFields": {}
      },
      "id": "telegram-success",
      "name": "Telegram Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 200],
      "credentials": { "telegramApi": { "id": "1", "name": "Telegram account" } }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=❌ Trade Rejected\n\n{{ $json.error || 'Risk validation failed' }}\n\nChecks: {{ JSON.stringify($json.checks || []) }}",
        "additionalFields": {}
      },
      "id": "telegram-fail",
      "name": "Telegram Rejected",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 400],
      "credentials": { "telegramApi": { "id": "1", "name": "Telegram account" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Execute Trade (Backend)", "type": "main", "index": 0 }]]
    },
    "Execute Trade (Backend)": {
      "main": [[{ "node": "Trade Success?", "type": "main", "index": 0 }]]
    },
    "Trade Success?": {
      "main": [
        [{ "node": "Telegram Success", "type": "main", "index": 0 }],
        [{ "node": "Telegram Rejected", "type": "main", "index": 0 }]
      ]
    },
    "Telegram Success": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Telegram Rejected": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "crypto-trading" }, { "name": "production" }]
}
