n8n/workflows/trade-execution.json
{
  "name": "Trade Execution Guard (Phase 10)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trade-execute",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "trade-execute"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.BACKEND_URL || 'https://api.deftluke.online') + '/api/control/signal' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ...( $json.body || $json ), source: ($json.body || $json).source || 'n8n', mode: $env.CONTROL_TRADING_MODE || 'demo', demo_unlimited: ($env.CONTROL_TRADING_MODE || 'demo') !== 'live' }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "control-signal",
      "name": "Control Center Signal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "needs-approval",
              "leftValue": "={{ $json.approval_required }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-approval",
      "name": "Needs Approval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=⏳ <b>Approval Required</b>\n\n{{ $('Webhook Trigger').item.json.body.symbol }} {{ $('Webhook Trigger').item.json.body.direction }}\nEntry: {{ $('Webhook Trigger').item.json.body.entry }}\nSL: {{ $('Webhook Trigger').item.json.body.sl }}\n\nApprove via dashboard or POST /control/approve with passcode.",
        "additionalFields": {}
      },
      "id": "telegram-approval",
      "name": "Telegram Approval Request",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [920, 200],
      "credentials": { "telegramApi": { "id": "telegram-bot", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "executed",
              "leftValue": "={{ $json.executed }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-executed",
      "name": "Executed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✅ <b>Trade Executed</b>\n\n{{ $('Webhook Trigger').item.json.body.symbol }} {{ $('Webhook Trigger').item.json.body.direction }}\nMode: {{ $json.mode }}\nEntry: {{ $json.entry }}",
        "additionalFields": {}
      },
      "id": "telegram-success",
      "name": "Telegram Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1140, 320],
      "credentials": { "telegramApi": { "id": "telegram-bot", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📡 {{ $json.reason || 'Signal processed' }}\n\n{{ $('Webhook Trigger').item.json.body.symbol }} {{ $('Webhook Trigger').item.json.body.direction }}",
        "additionalFields": {}
      },
      "id": "telegram-info",
      "name": "Telegram Info",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1140, 520],
      "credentials": { "telegramApi": { "id": "telegram-bot", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Control Center Signal').item.json) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Control Center Signal", "type": "main", "index": 0 }]]
    },
    "Control Center Signal": {
      "main": [[{ "node": "Needs Approval?", "type": "main", "index": 0 }]]
    },
    "Needs Approval?": {
      "main": [
        [{ "node": "Telegram Approval Request", "type": "main", "index": 0 }],
        [{ "node": "Executed?", "type": "main", "index": 0 }]
      ]
    },
    "Telegram Approval Request": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Executed?": {
      "main": [
        [{ "node": "Telegram Success", "type": "main", "index": 0 }],
        [{ "node": "Telegram Info", "type": "main", "index": 0 }]
      ]
    },
    "Telegram Success": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Telegram Info": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "crypto-trading" }, { "name": "phase10" }, { "name": "production" }]
}
